.board{
    display:grid;
    grid-template-columns: repeat(10,1fr);
    border: 1px solid black;
    width: 50dvw;
    height: 50dvw
}

.board-cell{
    background-color: white;
    border: 1px solid black;
}
.board-cell:hover{
    background-color: grey;
}