
@import './mixins.scss' ;
@import './variables.scss';

@import './board.scss';

@import './postgame.scss';
@import "./pregame.scss";


:root{
    font-size: 18px;
}

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    // background-color: #2f9fe6;
    background-image: url("../assets/images/wallpaper3.jpeg");
    background-size: cover;
    // background-size: 20%;
}

.content{
    @include flex-center;
    gap: 2rem;
    padding: 2rem;
}

