
@import './variables';

@mixin flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin cell {
    border: 1px solid $blue-4;
    height: $cell-size-default;
    width: $cell-size-default;
    @include flex-center;
}