// fonts
// $font-fam: 

//colors
$blue-1: #EEF5FF;
$blue-2: #B4D4FF;
$blue-3: #86B6F6;
$blue-4: #176B87;
$green-1: #9AD0C2;
$green-2: #2D9596;


//grid size
$cell-size-default: 30px;
$set-up-size: $cell-size-default * 10;